body {
    background-color: black;
}

button {
    background: #4B4CD8;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 9px;
    color: #FFFFFF;
    font-weight: 400;
    cursor: pointer;
}


/* Стили для переключателей  */

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 28px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4647A0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    top: 3px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.input:checked+.slider {
    background: #CFCFCF;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #CFCFCF;
}

.input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* round */

.slider.round {
    border-radius: 8px;
    border: 2px solid #fff;
}

.slider.round:before {
    border-radius: 5px;
}


/* конец стилей переключателей  */

.menuEn {
    background-image: url("/img/bg-for-menu.png");
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;
    margin-left: 25px;
    margin-top: 25px;
}

.menuEn img {
    padding-top: 45px;
    height: 212.5px;
    left: -39px;
    top: 45px;
}

.menuEn button {
    width: 260px;
    height: 78px;
    left: 50px;
    top: 289px;
    margin: 24px;
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 52px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.settingsEn {
    background-image: url("/img/bg-for-menu.png");
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;
    margin-left: 25px;
    margin-top: 25px;
}

.recta {
    width: 60px;
    height: 55px;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 42px;
    cursor: pointer;
}

.flag__f {
    cursor: pointer;
}

.border {
    background: url("img/Rectangle18.svg") no-repeat center;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.lang_siz {
    padding-top: 72px;
}

.language__text {
    margin-right: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}


/* счет */

.highscores {
    background-image: url("/img/bg-for-menu.png");
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;
    margin-left: 25px;
    margin-top: 25px;
}

.text__info {
    background: url("img/Rectangle18.svg") no-repeat center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 399px;
}

.text__info__field {
    margin: 13px;
    width: 227.5px;
    background-size: 20px;
    border-bottom: 4px solid #BFC0C5;
    padding-left: 32px;
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.text__info__field1 {
    margin: 0;
    margin-top: 25px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    width: 227.5px;
    background-size: 20px;
    border-bottom: 4px solid #BFC0C5;
    padding-left: 32px;
    padding-bottom: 12px;
}

.delete {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 22px;
    margin-left: 49px;
    height: 78px;
    width: 260px;
    left: 0px;
    top: 0px;
    border-radius: 9px;
}

.delete_high {
    background: url("img/HIGHSCORES_DELETING.png");
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    margin: 121px 15px 0px 10px;
    width: 108px;
    height: 62px;
    left: 194px;
    top: 329px;
}


/* pause style  */

.pause {
    background: url("img/pause.png");
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.pause__but {
    margin-bottom: 31px;
    width: 260px;
    height: 78px;
    left: 49px;
    top: 271px;
    margin-right: 3px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.game_over {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("/img/bg-for-menu.png");
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;
    margin-left: 25px;
    margin-top: 25px;
}

.score {
    width: 286px;
    height: 166px;
    left: 37px;
    top: 93px;
    padding-top: 58px;
    background: #4B4CD8;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 17px;
    text-align: center;
}

.score {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

.gameplay {
    background: url("img/gameplayIMG/bg.png");
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.button_pause_pscor {
    display: flex;
    align-items: center;
    align-content: flex-start;
    margin-top: 24px;
    margin-bottom: -35px;
}

.button_pause {
    margin-right: 151px;
    width: 64px;
    height: 55px;
    left: 24px;
    top: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.scores_game {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 12px;
    background: #4B4CD8;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 9px;
    height: 55px;
    width: 97px;
    left: 0px;
    top: 0px;
}

.image_stat {
    display: flex;
    align-items: flex-end;
}

.gr57 {
    width: 176px;
    height: 154px;
    margin-left: 56px;
    top: 59px;
    margin-right: 42px;
}

.gr47 {
    height: 128px;
    top: 73px;
}

.gr15 {
    width: 88px;
    height: 104.4px;
    margin-left: 80px;
    margin-top: -59px;
}

.img_t_line {
    display: flex;
}

.gr7 {
    margin-left: 37px;
    margin-right: 52px;
    margin-top: -60px;
    height: 128px;
}

.gr12 {
    margin-top: -45px;
}

.img_f_line {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -70px;
}

.gr49 {
    margin-left: 104px;
}

.gr52 {
    height: 104.4px;
    margin-left: -139.1px;
}

.img_fi_line {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: -45px;
}

.gr44 {
    margin-left: 82px;
    width: 132px;
    height: 128px;
    left: -1px;
    top: 364px;
}

.gr48 {
    margin-left: -14px;
    width: 132px;
    height: 135px;
    left: 219px;
    top: 348px;
}

.gr16 {
    margin-top: -45px;
    margin-left: -42px;
}

.img_end_line {
    display: flex;
    align-items: flex-end;
    margin-top: -95px;
}

.gr50 {
    margin-left: 2px;
    height: 127px;
    width: 116px;
}

.gr58 {
    width: 133px;
    margin-left: 110px;
}

.shaiba {
    margin-top: -508px;
    margin-left: -70px;
}